@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-track-color: #181818;
  /* dark */
  --scrollbar-thumb-color: #ababaa;
  /* --scrollbar-thumb-color: #606060; */
}

/* remove the default scrollbar from the sidebar class*/
.menu::-webkit-scrollbar {
  width: 0.5rem;
}
.sidebar:hover .menu::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 25px;
}

.sidebar:hover .menu::-webkit-scrollbar-thumb {
  /* background: #7b7a7a; */
  background: var(--scrollbar-thumb-color);
  border-radius: 25px;
}

body {
  /* to apply bg color to the track of the scrollbar */
  background-color: var(--scrollbar-track-color);
}
body::-webkit-scrollbar {
  width: 0.6rem;
}
body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 25px;
}
body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 25px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.3;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}
